.rc-slider-mark {
    z-index: 1;
    top: 36px;
}

.rc-slider-mark-text {
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #9e9e9e;
}

.rc-slider-mark-text::after {
    position: absolute;
    bottom: 22px;
    left: 50%;
    width: 1px;
    height: 6px;
    content: '';
    background-color: #eee;
}